SECRET_KEY=change-me
DEBUG=False

BASE_URL=https://api.unisocial.online
FRONTEND_ORIGIN=https://app.unisocial.online
ALLOWED_HOSTS=unisocial.online,www.unisocial.online,api.unisocial.online
CORS_ALLOWED_ORIGINS=https://app.unisocial.online,http://localhost:5173
CSRF_TRUSTED_ORIGINS=https://app.unisocial.online,https://api.unisocial.online

SESSION_COOKIE_DOMAIN=.unisocial.online
CSRF_COOKIE_DOMAIN=.unisocial.online
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=None
CSRF_COOKIE_SAMESITE=None
AUTH_REFRESH_COOKIE_DOMAIN=.unisocial.online
AUTH_REFRESH_COOKIE_SECURE=True
AUTH_REFRESH_COOKIE_SAMESITE=None
REMEMBER_ME_REFRESH_TOKEN_DAYS=30

FILE_UPLOAD_MAX_MEMORY_SIZE=52428800
DATA_UPLOAD_MAX_MEMORY_SIZE=52428800

EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password

DB_NAME=mfp_db
DB_USER=mfp_user
DB_PASSWORD=change-me
DB_HOST=your-rds-endpoint.ap-south-1.rds.amazonaws.com
DB_PORT=5432

FIELD_ENCRYPTION_KEY=change-me

META_APP_ID=change-me
META_APP_SECRET=change-me
META_REDIRECT_URI=https://api.unisocial.online/api/v1/social/meta/callback/
META_STATE_SECRET=change-me

FRONTEND_SUCCESS_URL=https://app.unisocial.online

LINKEDIN_CLIENT_ID=change-me
LINKEDIN_CLIENT_SECRET=change-me
LINKEDIN_REDIRECT_URI=https://api.unisocial.online/api/v1/social/linkedin/callback/

GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_REDIRECT_URI=https://api.unisocial.online/api/v1/social/youtube/callback/

GROQ_API_KEY=change-me
SENTRY_DSN=https://examplePublicKey@o0.ingest.us.sentry.io/0

REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_CACHE_URL=redis://redis:6379/2

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_STORAGE_BUCKET_NAME=mfp-media-storage
AWS_S3_REGION_NAME=ap-south-1

ECR_BACKEND_IMAGE=541172291485.dkr.ecr.ap-south-1.amazonaws.com/mfp-backend:latest
